@model IEnumerable<SICPASystem.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-9">
            <h3>Employees List</h3>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Employees">Add new Employee</a>
        </div>
    </div>
    <br />
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <td>@Html.DisplayNameFor(m => m.name)</td>
                        <td>@Html.DisplayNameFor(m => m.surname)</td>
                        <td>@Html.DisplayNameFor(m => m.age)</td>
                        <td>@Html.DisplayNameFor(m => m.position)</td>
                        <td>@Html.DisplayNameFor(m => m.email)</td>
                        <td>@Html.DisplayNameFor(m => m.status)</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.name</td>
                        <td>@item.surname</td>
                        <td>@item.age</td>
                        <td>@item.position</td>
                        <td>@item.email</td>
                        @if (item.status)
                        {
                            <td>Active</td>
                        }
                        else
                        {
                            <td>Inactive</td>
                        }
                        <td class="text-center">
                            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-controller="Employees" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Employees" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No records</p>
        }
    </div>
</div>
